*{margin: 0;padding: 0;}
body{font-family: arial,"微软雅黑";}
a{text-decoration: none;}
li{list-style: none;}
h1{font-size: 14px;padding:0px;margin: 0px;font-weight: normal;}

/*常用css*/
.left{float: left;}
.right{float: right;}
.clear{clear: both;}
